<svg xmlns="http://www.w3.org/2000/svg" height="350px" viewBox="-160 -160 320 320"
    *ngIf="intervals && intervals.length == 13">

    <!-- Draw lines between selected notes
    <g stroke="blue" stroke-width="1">
        <ng-container *ngFor="let startInterval of intervals; let i = index;">
            <ng-container *ngFor="let endInterval of intervals; let j = index;">
                <line *ngIf="isSelected(startInterval) && isSelected(endInterval) && i !== j" 
                    [attr.x1]="calculateX(i)" [attr.y1]="calculateY(i)"
                    [attr.x2]="calculateX(j)" [attr.y2]="calculateY(j)"
                />
            </ng-container>
        </ng-container>
    </g> -->

    <g stroke="blue" stroke-width="1">
        <line *ngFor="let interval of findSelectedIntervalsWithNext()" [attr.x1]="calculateX(interval.start)"
            [attr.y1]="calculateY(interval.start)" [attr.x2]="calculateX(interval.end)"
            [attr.y2]="calculateY(interval.end)" />
    </g>

    <g font-size="10" font-family="'Sancreek',cursive" text-anchor="middle">
        <ng-container *ngFor="let interval of intervals; let i = index; let isFirst = first ; let isLast = last">
            <text dy="-1em" *ngIf="!isLast"
                [attr.transform]="'rotate(' + (i * 30) + '),translate(0,-120),rotate(' + (-i * 30) + ')'"
                [textContent]="isFirst ? 'tonic/octave' : interval.name"
                [style.fill]="selectedIntervalColor(interval.name)"></text>
        </ng-container>

    </g>

    <g font-size="15" font-family="'Sancreek',cursive" text-anchor="middle">
        <ng-container *ngFor="let interval of intervals; let i = index;">
            <ng-container *ngIf="i <= 11">
                <text (click)="playNote(interval.note.name, i >= indexAfterB)" dy="0.35em"
                [attr.transform]="'rotate(' + (i * 30) + '),translate(0,-120),rotate(' + (-i * 30) + ')'"
                [style.fill]="selectedNoteColor(interval.note)">
                {{ interval.note.name }} {{ interval.note.alternativeName }}</text>
            </ng-container>
            
        </ng-container>

    </g>

</svg>