<svg *ngIf="guitar" [attr.viewBox]="'0 0 ' + viewBoxWidth + ' ' + viewBoxHeight" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient id="stringGradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color: #b3b3b3; stop-opacity: 1" />
            <stop offset="100%" style="stop-color: #666666; stop-opacity: 1" />
        </linearGradient>
    </defs>

    <!-- Fretboard -->
    <rect [attr.x]="viewPaddingX" [attr.y]="viewPaddingY" [attr.width]="viewBoxWidth-viewPaddingY"
        [attr.height]="viewBoxHeight - (viewPaddingY * 2)" fill="#d4b18c" />

    <ng-container *ngFor="let item of [].constructor(fretCount+1); let i = index">

        <!-- fret indicator -->
        <text [attr.x]="getFretXPosition(i)" [attr.y]="viewPaddingY/2" font-family="Arial" font-size="8" fill="black">
            {{ i }}
        </text>

        <!-- frets! -->
        <rect [attr.x]="getFretXPosition(i)" [attr.y]="viewPaddingY" [attr.width]="i == 0 ? 7 : 4"
            [attr.height]="viewBoxHeight-viewPaddingY*2" [attr.fill]="i == 0 ? 'white' : 'url(#stringGradient)'" />
    </ng-container>

    <ng-container *ngFor="let string of finalStrings; let i = index">

        <circle *ngIf="isOpenStringAskedFor(string)" 
            (click)="emitNoteClicked(string.openString, string.startOctave)"
            [attr.cy]="getStringYPosition(i)-5" 
            [attr.cx]="20-5" r="20"
            [attr.fill]="getOpenStringDisplay(string)?.color" />

        <!-- open note indicator -->
        <text (click)="emitNoteClicked(string.openString, string.startOctave)" [attr.x]="10"
            [attr.y]="getStringYPosition(i)+5" font-family="Arial" font-size="10"
            [attr.fill]="getOpenStringDisplay(string)?.textColor ?? 'black'">
            {{string.openString.name}} {{ string.startOctave }}
        </text>

        <!-- strings -->
        <rect [attr.y]="getStringYPosition(i)" [attr.width]="viewBoxWidth - (viewPaddingX)" [attr.height]="7-i * 1.125"
            [attr.x]="viewPaddingX" [attr.fill]="'url(#stringGradient)'" />

        <!-- notes -->
        <ng-container *ngFor="let fret of string.frets; let j = index">

            <!-- Circle -->
            <circle *ngIf="isNoteAskedFor(string, fret)" [attr.cy]="getStringYPosition(i)-5"
                [attr.cx]="getFretXPosition(j+1)-10" r="20" (click)="emitNoteClicked(fret.note, fret.octave)"
                [attr.fill]="getNoteDisplay(string, fret)?.color" />


            <text *ngIf="notes.length == 0 || showNotes == true || isNoteAskedFor(string, fret)"
                [attr.y]="getStringYPosition(i)" [attr.x]="getFretXPosition(j+1)-20" font-size="14"
                [attr.fill]="getNoteDisplay(string, fret)?.textColor ?? 'black'"
                (click)="emitNoteClicked(fret.note, fret.octave)">{{ fret.note.name }}{{fret.octave}}</text>
        </ng-container>
    </ng-container>
</svg>

<div *ngIf="notesLegend && notes && notes.length" class="container d-flex justify-content-center align-items-center">
    <div *ngFor="let d of notes; let i = index">
        <svg width="25" height="25" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" [attr.fill]="d.color" />
            <text x="50%" y="50%" font-size="40" dominant-baseline="middle" text-anchor="middle"
                [attr.fill]="d.textColor">{{i+1}}</text>
        </svg>


        {{ d.name }}
    </div>
</div>