<svg *ngIf="guitar" [attr.viewBox]="'0 0 ' + viewBoxWidth + ' ' + viewBoxHeight" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient id="stringGradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color: #b3b3b3; stop-opacity: 1" />
            <stop offset="100%" style="stop-color: #666666; stop-opacity: 1" />
        </linearGradient>
    </defs>

    <!-- Fretboard -->
    <rect [attr.x]="viewPaddingX" [attr.y]="viewPaddingY" [attr.width]="viewBoxWidth-viewPaddingY"
        [attr.height]="viewBoxHeight - (viewPaddingY * 2)" fill="#b78c5a" />

    <ng-container *ngFor="let item of [].constructor(fretCount+1); let i = index">

        <!-- fret indicator -->
        <text [attr.x]="getFretXPosition(i)" [attr.y]="viewPaddingY/2" font-family="Arial" font-size="8" fill="black">
            {{ i }}
        </text>

        <!-- frets! -->
        <rect [attr.x]="getFretXPosition(i)" [attr.y]="viewPaddingY" [attr.width]="i == 0 ? 7 : 4"
            [attr.height]="viewBoxHeight-viewPaddingY*2" [attr.fill]="i == 0 ? 'white' : 'url(#stringGradient)'" />
    </ng-container>

    <ng-container *ngFor="let string of finalStrings; let i = index">

        <!-- open note indicator -->
        <text (click)="emitNoteClicked(string.openString, string.startOctave)" [attr.x]="0"
            [attr.y]="getStringYPosition(i)+5" [attr.fill]="isNoteAskedFor(string.openString) ? 'blue' : 'black'"
            [attr.font-weight]="isNoteAskedFor(string.openString) ? 400 : 100" font-family="Arial" font-size="10"
            fill="black">
            {{string.openString.name}} {{ string.startOctave }}
        </text>

        <!-- strings -->
        <rect [attr.y]="getStringYPosition(i)" [attr.width]="viewBoxWidth - (viewPaddingX)" height="1.5"
            [attr.x]="viewPaddingX" [attr.fill]="'url(#stringGradient)'" />
        
        <!-- notes -->
        <ng-container *ngFor="let fret of string.frets; let j = index">
            <text *ngIf="showThisNote(fret.note)" [attr.y]="getStringYPosition(i)" [attr.x]="getFretXPosition(j+1)-10"
                font-size="7" [attr.fill]="isNoteAskedFor(fret.note) ? 'blue' : 'black'"
                [attr.font-weight]="isNoteAskedFor(fret.note) ? 400 : 100"
                (click)="emitNoteClicked(fret.note, fret.octave)">{{ fret.note.name }}{{fret.octave}}</text>
        </ng-container>
    </ng-container>
</svg>