<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']"><img class="ms-4" style="height: 52px;" src="assets/logo-cropped.png"></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto" style="padding-left: 20px;">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/notes']" routerLinkActive="active">Notes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/chords']" routerLinkActive="active">Chords</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container mt-5">
  <router-outlet></router-outlet>
</div>