<h1>Guitar Instruments</h1>

<div class="row">
    <div class="col">
        <ng-container *ngIf="options$ | async as options">
            <select [(ngModel)]="currentType" class="form-control">
                <optgroup [attr.label]="c.category" *ngFor="let c of options">
                    <option [value]="t" *ngFor="let t of c.types">{{t}}</option>
                </optgroup>
            </select>
        </ng-container>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        Reversed <input type="checkbox" [(ngModel)]="reversed" />
    </div>
    <div class="col">
        Show Clocks <input type="checkbox" [(ngModel)]="showClocks" />
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <select class="form-control" [(ngModel)]="selectedStyle">
            <option [ngValue]="null">Select a music style</option>
            <option [ngValue]="style.value" *ngFor="let style of styles">
                {{ style.title }}
            </option>
        </select>
    </div>
    <div class="col">
        Show all style <input type="checkbox" [(ngModel)]="showAllStyles" />
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <ng-container *ngIf="notes$ | async as notes">
            <select class="form-control" [(ngModel)]="selectedNote" (ngModelChange)="refreshDegrees()">
                <option [ngValue]="null">Select a note</option>
                <option [ngValue]="note" *ngFor="let note of notes">
                    <app-inline-note [note]="note"></app-inline-note>
                </option>
            </select>
        </ng-container>
    </div>
    <div class="col">
        <select class="form-control" [(ngModel)]="selectedScale" (ngModelChange)="refreshDegrees()">
            <option [ngValue]="null">Select a scale</option>
            <option [ngValue]="scaleType" *ngFor="let scaleType of scaleTypes">
                {{ scaleType | titlecase }}
            </option>
        </select>
    </div>
</div>

<ng-container *ngIf="guitar$ | async as guitar;">
    <div class="mt-3">
        <app-guitar [guitar]="guitar" [reversed]="reversed" [showNotes]="(degrees$ | async) == null"
            [notes]="scaleNotes">
        </app-guitar>
    </div>
</ng-container>

<ng-container *ngIf="degrees$ | async as degrees">
    <div class="mt-2">
        <app-scale [showDegreesLink]="false" [showClock]="showClocks" [scale]="degrees.scale"></app-scale>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h4>Chords</h4>
        </div>
        <ng-container *ngFor="let c of degrees.chords; let i = index">
            <ng-container
                *ngIf="showAllStyles || selectedStyle == null || c.chordDefinition.styles.indexOf(selectedStyle) >= 0">
                <div class="col-12 mt-2">
                    <app-chord [showClock]="showClocks" [chord]="c">
                        <div style="max-height: 350px; overflow-y: auto" ngbAccordion [closeOthers]="true">
                            <ng-container *ngFor="let variation of getChordVariations(guitar!, c); let i = index">
                                <!-- <div ngbAccordionItem [collapsed]="i != 0">
                                    <h2 ngbAccordionHeader>
                                        <button ngbAccordionButton>Variation: {{ i+1}}</button>
                                    </h2>
                                    <div ngbAccordionCollapse>
                                        <div ngbAccordionBody>
                                            <ng-template>
                                                <app-guitar [guitar]="guitar" [reversed]="reversed" [showNotes]="true"
                                                    [notesLegend]="false" [notes]="[variation.chordDisplay]">
                                                </app-guitar>
                                                <button (click)="playGuitarChord(variation.guitarChord)" class="btn btn-primary btn-sm">Play Guitar Chord</button>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div> -->

                                <app-guitar-chord [guitar]="guitar!" [reversed]="reversed" [chord]="variation.guitarChord">
                                </app-guitar-chord>

                            </ng-container>
                        </div>

                    </app-chord>
                </div>
            </ng-container>
        </ng-container>

    </div>
</ng-container>