<div *ngIf="(note$ | async) as note; else loading">
    <div class="card mt-3">
        <div class="card-body">
            <h1 class="card-title">{{ note.name }}</h1>
            <h2 class="card-subtitle mb-2 text-muted">{{ note.alternativeName }}</h2>
            <div *ngIf="note.isNatural" class="badge bg-info">Is natural</div>

            <button (click)="playNote(note.name)" class="btn btn-primary d-block btn-sm mt-3">Play note</button>
        </div>
    </div>

    <ng-container *ngIf="(noteIntervals$ | async) as noteIntervals">
        <div class="row mt-3">
            <div class="col-12">
                <h4>Intervals</h4>
            </div>
            <div class="col-12 col-md-4 col-lg-2" *ngFor="let ni of noteIntervals">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ ni.name | titlecase }} <small class="text-muted">{{ ni.symbol }}</small></h5>
                
                        <p class="card-text">
                            {{ ni.note.name }} {{ ni.note.alternativeName }}
                        </p>
                        <p class="card-text">
                            Distance: {{ ni.distanceInHalfTones }}
                        </p>
                        <button (click)="playNote(ni.note.name)" class="btn btn-primary">Play</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="(chords$ | async) as chords">
        <div class="row mt-3">
            <div class="col-12">
                <h4>Chords</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-2" *ngFor="let c of chords">
                <div class="card mb-3 h-100" >
                    <div class="card-body">
                        <h5 class="card-title">{{ c.title }}</h5>
                        <p class="text-muted">{{ c.chordDefinition.description }}</p>
                        <p class="card-text">
                            Intervals: 
                            <span *ngFor="let ni of c.noteIntervals" class="badge bg-secondary me-2">{{ ni.name }}</span>
                        </p>
                        <p class="card-text">
                            Notes: 
                            <span *ngFor="let ni of c.noteIntervals" class="badge bg-secondary me-2" (click)="playNote(ni.note.name)">{{ ni.note.name }} <small>{{ni.note.alternativeName}}</small></span>
                        </p>
                        
                    </div>
                    <div class="card-footer">
                        <button (click)="playChord(c)" class="btn btn-primary">Play</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="(scales$ | async) as scales">
        <div class="row mt-3">
            <div class="col-12">
                <h4>Scales</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let s of scales">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ s.definition.name }}</h5>
                        <h6 class="card-subtitle">{{ s.category.name }}</h6>
                        <p class="card-text mt-2">
                            Intervals: 
                            <span *ngFor="let ni of s.noteIntervals" class="badge bg-secondary me-2">{{ ni.name }}</span>
                        </p>
                        <p class="card-text mt-2">
                            Steps: 
                            <span class="badge bg-secondary me-2">K</span>
                            <span *ngFor="let step of getSteps(s)" class="badge bg-secondary me-2">
                                {{ step }}
                            </span>
                        </p>
                        <p class="card-text">
                            Notes: 
                            <span *ngFor="let ni of s.noteIntervals" class="badge bg-secondary me-2" (click)="playNote(ni.note.name)">{{ ni.note.name }} <small>{{ni.note.alternativeName}}</small></span>
                        </p>
                        <button (click)="playScale(s)" class="btn btn-primary me-2">Play</button>
                        <button (click)="playReverseScale(s)" class="btn btn-primary me-2">Play Reverse</button>
                        <button [routerLink]="['/scale', note.name, s.definition.type, 'progressions']" *ngIf="s.definition.progressions" class="btn btn-secondary">Progressions</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    <div class="text-center mt-5">
        <p>Loading...</p>
    </div>
</ng-template>
