<div *ngIf="(note$ | async) as note; else loading">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ note.name }} {{ note.alternativeName }}</li>
        </ol>
    </nav>

    <div class="mt-3 text-center">
        <h1><app-inline-note [note]="note"></app-inline-note></h1>
        <div *ngIf="note.isNatural" class="badge bg-info">Is natural</div>

        <div>
            <button (click)="playNote(note.name)" class="btn btn-primary btn-sm mt-3">Play note</button>
        </div>
    </div>

    <ng-container *ngIf="(noteIntervals$ | async) as noteIntervals">
        <h4 class="mt-4 text-center">Intervals</h4>
        <div class="container d-flex justify-content-center align-items-center">
            <app-note-clock [intervals]="noteIntervals" [selectedIntervals]="[noteIntervals[0]]"></app-note-clock>
        </div>

    </ng-container>

    <ng-container *ngIf="(chords$ | async) as chords">
        <div class="row mt-3">
            <div class="col-12">
                <h4>Chords</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-2" *ngFor="let c of chords">
                <app-chord [chord]="c"></app-chord>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="(scales$ | async) as scales">
        <div class="row mt-3">
            <div class="col-12">
                <h4>Scales</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let s of scales">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ s.definition.name }}</h5>
                        <h6 class="card-subtitle">{{ s.category.name }}</h6>
                        <p class="card-text mt-2">
                            Intervals:
                            <span *ngFor="let ni of s.noteIntervals" class="badge bg-secondary me-2">{{ ni.name
                                }}</span>
                        </p>
                        <p class="card-text mt-2">
                            Steps:
                            <span class="badge bg-secondary me-2">K</span>
                            <span *ngFor="let step of s.steps" class="badge bg-secondary me-2">
                                {{ step }}
                            </span>
                        </p>
                        <p class="card-text">
                            Notes:
                            <span *ngFor="let ni of s.noteIntervals" class="badge bg-secondary me-2"
                                (click)="playNote(ni.note.name)">{{ ni.note.name }}
                                <small>{{ni.note.alternativeName}}</small></span>
                        </p>
                        <button (click)="playScale(s)" class="btn btn-primary me-2">Play</button>
                        <button (click)="playReverseScale(s)" class="btn btn-primary me-2">Play Reverse</button>
                        <button [routerLink]="['/scale', note.name, s.definition.type, 'degrees']"
                            class="btn btn-secondary">Degrees</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    <div class="text-center mt-5">
        <p>Loading...</p>
    </div>
</ng-template>