<ng-container *ngIf="progression$ | async as progressions; else loading">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/notes', progressions[0].scale.key.name]">Note {{
                    progressions[0].scale.key.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Scale Progressions</li>
        </ol>
    </nav>

    <ng-container *ngIf="progressions.length">
        
        <h1>{{ progressions[0].scale.key.name }}<small class="text-muted">{{progressions[0].scale.key.alternativeName}}</small>
            - {{
            progressions[0].scale.definition.name }} Progressions</h1>
    </ng-container>


    <ng-container *ngFor="let progression of progressions">


        <hr>

        <h2>{{ progression.definition.title }} Progression</h2>


        <table class="table table-bordered">
            <tr>
                <ng-container *ngFor="let part of progression.definition.chords; let i = index">
                    <th class="text-center" *ngIf="part">
                        {{getRomanNumeral(i+1)}}. &nbsp;{{ part | titlecase }}
                    </th>
                </ng-container>
                
            </tr>
            <tr>
                <ng-container *ngFor="let ni of progression.scale.noteIntervals; let i = index">
                    <td class="text-center" *ngIf="progression.definition.chords[i]">
                        <div class="badge bg-secondary text-white" (click)="playNote(ni.note.name)">{{ ni.note.name }}
                            <small>{{ ni.note.alternativeName }}</small>
                        </div>
                    </td>
                </ng-container>
               
            </tr>
        </table>


        <div class="row">
            <ng-container *ngFor="let chord of progression.chords; let i = index">
                <div class="col-md-3 p-2" *ngIf="chord">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                ({{ getRomanNumeral(i+1) }}) &nbsp;
                                {{ chord.key.name }} <small class="text-muted"></small>{{ chord.key.alternativeName }} -
                                {{
                                chord.chordDefinition.title }}
                            </h5>

                            <p class="card-text mt-3">
                                Intervals:
                                <span *ngFor="let ni of chord.noteIntervals" class="badge bg-secondary me-2">{{ ni.name
                                    }}</span>
                            </p>
                            <p class="card-text">
                                Notes:
                                <span *ngFor="let ni of chord.noteIntervals" class="badge bg-secondary me-2"
                                    (click)="playNote(ni.note.name)">{{ ni.note.name }}
                                    <small>{{ni.note.alternativeName}}</small></span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-sm" (click)="playChord(chord)">Play Chord</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </ng-container>
</ng-container>

<ng-template #loading>
    ... Loading
</ng-template>